body {
    font-family: "Poppins", sans-serif;
    padding: 20px;
    background-color: white;
}

h1 {
    text-align: center;
}

.filters, .cart {
    margin: 20px 0;
}

.product-list, .cart-items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.product, .cart-items {
    background: white;
    padding: 10px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    width: 180px;
}

.product button, .cart-item button {
    margin-top: 10px;
    width: 100%;
}

.summary {
    font-weight: bold;
    margin-top: 10px;
}